@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src:
		url("/fonts/montserrat-regular.woff2") format("woff2"),
      url("/fonts/montserrat-regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src:
      url("/fonts/montserrat-500.woff2") format("woff2"), 
      url("/fonts/montserrat-500.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 400;
	src:
      url("/fonts/playfair-display-regular.woff2") format("woff2"),
      url("/fonts/playfair-display-regular.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	src:
      url("/fonts/playfair-display-700.woff2") format("woff2"), 
      url("/fonts/playfair-display-700.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
	src:
      url("/fonts/playfair-display-italic.woff2") format("woff2"),
      url("/fonts/playfair-display-italic.woff") format("woff");
}

body {
	/*min-width: 1440px;
	min-height: 4470px;*/

	margin: 0;
	padding: 0;

	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #AE7C78;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	display: inline-block;

	font: inherit;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	background-color: #D89999;
	border-radius: 40px;
}

.page-header {
	margin-top: 25px;
	margin-bottom: 64px; /*85px*/

	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	position: relative;
	z-index: 10;
}

.main-header-logo {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 50%;
	transform: translateX(-55%);

	width: 100px;
	height: 33px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li {
	margin-right: 90px;
}

.site-navigation li:nth-child(3n + 3) {
	margin-right: 245px;
}

.site-navigation li:nth-child(6n) {
	margin-right: 0;
}

.site-navigation a {
	display: block;
	padding-top: 22px;
	padding-bottom: 22px;
	color: #AE7C78;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	align-items: start;
}

.promo {
	height: 480px;
	margin-bottom: 50px;
}

.promo-text-column {
	padding-top: 20px;
}

.promo-text-column .button {
	padding: 30px 70px;
}

.promo-img-down {
	align-self: end;
}

.promo-title {
	margin: 0;
	margin-bottom: 24px;

	font-family: "Playfair Display", "Goudy Old Style", serif;
	font-size: 44px;
	line-height: 59px;
	font-weight: 400;
}

.promo-title span {
	font-style: italic;
}

.promo-text {
	margin: 0;
	margin-bottom: 64px;

	font-size: 24px;
	line-height: 29px;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item{
	position: relative;
	padding-left: 100px;
}

.feature-item::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	height: 52px;
}

.feature-item-delivery {
	background-image: url("img/icon-delivery.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.feature-item-bouquet {
	background-image: url("img/icon-bouquet.svg");
	background-repeat: no-repeat;
	background-position: 30px 0;
}

.feature-item-photo {
	background-image: url("img/icon-photo.svg");
	background-repeat: no-repeat;
	background-position: 23px 0;
}

.feature-item h3 {
	margin: 0;
	margin-bottom: 8px;

	font-weight: 500;
}

.feature-item p {
	margin: 0;
}

.section-title {
	margin: 0;

	font-family: "Playfair Display", "Goudy Old Style", serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	letter-spacing: 0.02em;
}

.bestsellers {
	width: 795px;
	margin: 0 auto;
	margin-bottom: 72px;
}

.bestsellers .section-title {
	margin-bottom: 40px;

	text-align: center;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: flex;
	justify-content: space-between;
}

.slide-description {
	padding-top: 25px;
	width: 387px;
}

.slide-description .button {
	padding: 30px 105px;
}

.slide-image {
	width: 387px;
	height: 438px;
}

.slide-title,
.slide-price {
	margin: 0;

	font-size: 24px;
	font-weight: 500;
}

.slide-title {
	margin-bottom: 25px;
}

.slide-text {
	margin: 0;
	margin-bottom: 24px;
}

.slide-size {
	margin: 0;
	margin-bottom: 27px;
}

.slide-price {
	margin-bottom: 70px;
}

.slider-controls {
	display: flex;
	justify-content: space-between;

	width: 120px;
	margin: 0 auto;
	padding-top: 10px;
}

.slider-controls button {
	width: 52px;
	height: 15px;

	border: none;
	background-color: transparent;

	cursor: pointer;
}

.bestsellers-prev {
	background-image: url("img/icon-arrow-prev.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.bestsellers-next {
	background-image: url("img/icon-arrow-next.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.categories {
	margin-bottom: 80px;
}

.catalog-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item-wedding {
	background-image: url("img/bg-bouquet-wedding.jpg");
}

.catalog-item-peonies {
	background-image: url("img/bg-peonies.jpg");
}

.catalog-item-assortment {
	background-image: url("img/bg-assortment.jpg");
}

.catalog-item {
	width: 387px;
	min-height: 440px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.catalog-item-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 387px;
	min-height: 442px;

	text-align: center;
	color: #ffffff;

	background-color: rgba(174, 124, 120, 0.6);
	border-radius: 10px;
}

.special {
	margin-bottom: 80px;
}

.special .content-wrapper {
	display: grid;
	grid-template-columns: 1fr 590px;

	background-color: #AE7C78;
}

.special-text-column {
	padding: 40px 100px 65px;
}

.special-text-column b {
	margin: 0;

	font-family: "Playfair Display", "Goudy Old Style", serif;
	font-size: 44px;
	line-height: 59px;
	font-weight: normal;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.special-text-column p {
	margin: 0;
	margin-top: 24px;

	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
}

.special-img-column {
	height: 391px;
}

.order-process {
	margin-bottom: 80px;

	text-align: center;
}

.order-process .section-title {
	margin-bottom: 36px;
}

.order-process-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.order-process-item {
	position: relative;
	padding-top: 60px;
}

.order-process-item::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 83px;
	height: 52px;
}

.order-item {
	background-image: url("img/icon-order.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.consultation-item {
	background-image: url("img/icon-consultant.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.payment-item {
	background-image: url("img/icon-payment.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.delivery-item {
	background-image: url("img/icon-delivery.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.order-process-item h3 {
	margin: 0;
	margin-bottom: 8px;

	font-weight: 500;
}

.order-process-item p {
	margin: 0;
}

.news {
	margin-bottom: 60px;
}

.news .content-wrapper {
	display: flex;
	justify-content: space-between;
}

.news-text-column {
	width: 485px;

	padding-top: 70px;
	padding-right: 105px;
}

.news-text-column p {
	margin: 40px 0;

	font-size: 24px;
	line-height: 29px;
}

.social-list {
	display: flex;
	flex-wrap: wrap;

	width: 100px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list li {
	width: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.social-list li:nth-child(2) {
	width: 14px;
	margin-right: 18px;
}

.social-list li:nth-child(3) {
	width: 26px;
	margin-right: 0;
}

.social-button {
	text-align: center;
	align-items: center;
}

.news-img-column {
	display: grid;
	gap: 20px;
	grid-template-columns: 285px 387px;
	grid-template-rows: repeat(2, 220px);
	width: 692px;
}

.news-img-column img:first-child {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.news-img-column img:nth-child(2) {
	grid-row: 1 / 4;
}

.reviews {
	padding-top: 40px;
	margin-bottom: 80px;

	text-align: center;

	border: 1px solid #AE7C78;
}

.reviews .section-title {
	margin-bottom: 40px;
}

.reviews-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
}

.review-item {
	margin: 0;
	margin-bottom: 62px;
	padding: 0 43px;
}

.review-text {
	margin: 0;
	margin-bottom: 16px;
}

.review-author {
	font-weight: 500;
	font-style: normal;
}

.map-contacts .container {
	position: relative;
}

.map {
	height: 645px;
	overflow: hidden;
}

.map iframe {
	width: 100%;
	height: 645px;
}

.map img {
	display: block;
	width: 100%;
	height: 645px;
	object-fit: cover;
	z-index: -1;
}

.contacts {
	position: absolute;
	left: 102px;
	bottom: 75px;
	z-index: 100;

	box-sizing: border-box;
	width: 386px;
	min-height: 520px;

	padding-top: 40px;
	padding-left: 35px;
	padding-right: 100px;

	background-color: #ffffff;
	border-radius: 12px;
}

.contacts-list {
	margin: 0;
	padding-top: 35px;
}

.contacts .section-title {
	margin-bottom: 42px;
}

.contacts .section-title {
	letter-spacing: normal;
}

.contacts-list dt {
	margin-bottom: 17px;
}

.contacts-list dd {
	margin-bottom: 32px;
	font-weight: 500;
	margin-left: 0;
}

.contacts-link {
	color: #AE7C78;
}

.page-footer {
	background-color: #AE7C78;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 100px;
	height: 33px;

	margin-top: 20px;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;

	box-sizing: border-box;
	width: 795px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-navigation li {
	margin-right: 68px;
}

.footer-navigation li:nth-child(5n) {
	margin-right: 0;
}

.footer-navigation a {
	display: block;
	padding-top: 30px;
	padding-bottom: 45px;

	color: #ffffff;
}

.footer-wrapper .social-list {
	margin-top: 30px;
}

.social-button-white path {
	fill: #ffffff;
}
